:root {
    --test-font-family: 'Raleway';
    --heading-font-family: 'Raleway';
    --font-family: 'Roboto';
    --font-style: 'normal';
    --font-weight: 400;
    --flex-shrink: 0;
}

.body-font {
    font-family: var(--font-family);
    color: #ffffff;
}

.header-section {
    color: #2196F3;
    font-size: 26px;
    font-family: var(--heading-font-family);
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-section > nav > ul > li > a:hover,
.header-section > nav > ul > li > a:focus {
    color: #af1e88;
}

.studio-link, .contacts-link {
    color: #212121;
}

.portofolio-link {
    color: #2196F3;
}

.contacts{
    color: #757575;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.28px;
}

.main-section > nav > ul > li > a {
    cursor: pointer;
}

