:root {
    --test-font-family: 'Raleway';
    --heading-font-family: 'Raleway';
    --font-family:'Roboto';
    --font-style: 'normal';
    --font-weight: 400;
    --flex-shrink: 0;
}

.body-font {
    font-family: 'Roboto';
    color: #ffffff;
}

.header-section {
    color: #2196F3;
    font-size: 26px; 
    font-family: sans-serif;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

.header-section > nav > ul > li > a:hover,
.header-section > nav > ul > li > a:focus
.header-section > nav > ul > li > a:active
{
    color: #af1e88;
}

.studio-link, .contacts-link {
    color: #212121;
}

.portofolio-link {
    color: #2196F3;
}

.contacts:hover,
.contacts:focus
.contacts:active {
    color: #2196F3;
    width: 135px;
    height: 16px;
    flex-shrink: var(--flex-shrink);
    }

.contacts{
    color: #757575;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.28px;
}

.main-section > nav > ul > li > a {
    cursor: pointer;
}

.main-section > nav {
    font-size: 16px;
}

.main-section > nav:active

.main-section > div {
    font-size: 18px;
}

.buttons:hover,
.buttons:focus
.buttons:active {
cursor: pointer;
color: #2196F3;
flex-shrink: var(--flex-shrink);
}

.all-button {
    background-color: #F5F4FA;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.6;
    letter-spacing: 0.48px;
    color:#212121;
    width: 64px;
    height: 38px;
    flex-shrink: var(--flex-shrink);
}

.web-button {
    background-color: #F5F4FA;
    width: 120px;
    height: 38px;
    flex-shrink: var(--flex-shrink);
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.6;
    letter-spacing: 0.48px;
    text-align: center;
}

.app-button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    width: 83px;
    height: 38px;
    flex-shrink: var(--flex-shrink);
    text-align: center;
}

.design-button {
    background-color: #F5F4FA;
    color: #212121;
    width: 96px;
    height: 38px;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    flex-shrink: var(--flex-shrink);
    text-align: center;
}

.marketing-button {
    background-color: #F5F4FA;
    color: #212121;
    width: 121px;
    height: 38px;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    flex-shrink: var(--flex-shrink);
    text-align: center;
}

.name-section {
    color: #212121;
    font-size: 18px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.category-section {
    color: #757575;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.8;
    letter-spacing: 0.48px;
    }

    
.footer-section {
    background: #2F303A;
}

.footer-section > .webstudio-link {
    color: #2196F3;
    font-size: 26px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-section > address {
    color: #FFF;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    width: 207px;
    height: 16px;
    flex-direction: column;
    flex-shrink: var(--flex-shrink);
}

.footer-section > p > a {
    color: #ffffff99;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    width: 231px;
    flex-direction: column;
    flex-shrink: var(--flex-shrink);
}

.footer-section > address > .studio-link > .phone-section a:hover,
.footer-section > address > .studio-link > .phone-section a:focus {
    color: #af1e88;
}